[mysqld]
tls_version=TLSv1.2
general_log = 1
general_log_file = /var/lib/mysql/general.log

# LOGGING #
log-error = /var/log/mysql/mysql-error.log
log-queries-not-using-indexes = 0
slow-query-log = 1
long_query_time = 5.0
slow-query-log-file = /var/log/mysql/mysql-slow.log

server-id=1
binlog-format=mixed
log-bin=mysql-bin
innodb_flush_log_at_trx_commit=1
sync_binlog=1
